<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Who are you!? You don't have any account. So, lets play rolldice.. </h1>
    <h1>Dice gave the value: <%= num %> </h1>
    <% if (num == 6){ %>
        <h2>Fucking Winner!</h2>
    <% } else{ %>
        <h2>Try again</h2>
    <% } %>
</body>
</html>